/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 *= require font-awesome
 *= require_tree ../../../vendor/assets/stylesheets/.
 */

#navigation-interior {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    background-color: #78B79C;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #f2f2f2;
    opacity: 0.97;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


#headlines-contact-beth {
  font-size: 4em;
  line-height: 0px;
  color: rgb(50, 50, 60);
  text-align: center;
  margin-top: 25px;
}

#selection-download {
  text-align: center;
}

#download, #socila-complet {
  float: none !important;
  width: auto;
}


.year-beth {
    font-size: 1.2em;
    margin-left: -185px;
    margin-top: -10px;
    position: absolute;
    color: #f2f2f2;
    font-weight: 700;
    text-align: right;
    width: 125px;
    font-family: 'caviar_dreamsbold', sans-serif;
}

#download {
  float: none;
}






[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bethgilomen' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dailyillini:before {
    content: "\e903";
}
.icon-corvisa:before {
    content: "\e900";
}
.icon-js:before {
    content: "\e901";
}
.icon-shoretel:before {
    content: "\e902";
}

.custom-icon{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.selection-resume ul li {
    font-size: 1.2em;
}

#resume-others{
  width: 480px;
  float: left;
  padding-left: 25px;
  font-size: .8em;
  color: #f2f2f2;
}

.resume-section{
  margin-top: 60px;
}

.resume-section-header{
  font-size: 1.2em;
  margin-left: -185px;
  margin-top: -2px;
  position: absolute;
  color: #f2f2f2;
  font-weight: 700;
  text-align: right;
  width: 125px;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.resume-section-header-resp{
  display:none;
}

.resume-section .title{
  color: #78B79C;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin:0;
  font-family: 'caviar_dreamsbold', sans-serif;
}

.resume-section .subhead{
  font-weight: 700;
  font-size: 1.1em;
  font-family: 'caviar_dreamsitalic', sans-serif
}

.resume-section .resume-item{
  padding-bottom: 15px;
}

.push-next{
  float:left;
  width:300px;
  height: 1px;
}

.resume-other-container{
  margin-top: 75px;
  display: inline-block;
}

#content3 {
  background-color: #e5e5ea !important;
}

#content3.beth .headlines div {
  color: rgb(50, 50, 60);
}








@media screen and (max-width: 650px) {

  .resume-section .title {
    width: 70%;
    margin-top: 15px;
  }

  .resume-section .subhead{
    margin:0;
    width: 70%;
  }

  .resume-section-header{
    display:none;
  }

  .resume-section-header-resp{
    display:inline-block;
    font-size: 1.6em;
    color: #f2f2f2;
    font-weight: 700;
    width: 125px;
  }

  .resume-section {
    margin-top: 35px;
  }

  .resume-section .resume-item {
    padding-bottom: 2px;
  }

  .resume-other-container {
    margin-top: 30px;
  }

  #headlines-contact-beth {
    line-height: normal;
    width: 100%;
  }

  #download {
    display: inline !important;
  }
}

@media screen and (min-width: 650px) and (max-width: 850px) {


}

.close {
  float: right;
  font-size: 19.5px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}



.btn {
    border-radius: 0;
}
.btn-dark {
  border-color: #302f2f;
  color: #ffffff;
  background-color: #3d3c3c;
  border-color: #3d3c3c;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #ffffff;
  background-color: #232323;
  border-color: #000000;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #232323;
  border-color: #111111;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #232323;
  border-color: #111111;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #ffffff;
  background-color: #111111;
  border-color: #000000;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #3d3c3c;
  border-color: #302f2f;
}
.btn-dark .badge {
  color: #3d3c3c;
  background-color: #ffffff;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #ffffff;
  background-color: #3d3c3c;
  border-color: #3d3c3c;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #4a4949;
  border-color: #4a4949;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #302f2f;
  border-color: #302f2f;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #ffffff;
  background-color: #302f2f;
  border-color: #302f2f;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #3d3c3c;
  border-color: #3d3c3c;
}

.modal-body p {
  font-family: 'cooper_hewittmedium';
}

.modal-body strong {
  font-family: 'cooper_hewittbold';
}
