@font-face {
    font-family: 'bethgilomen';
    src:    url(font-path('bethgilomen.eot'));
    src:    url(font-path('bethgilomen.eot#iefix')) format('embedded-opentype'),
        url(font-path('bethgilomen.ttf')) format('truetype'),
        url(font-path('bethgilomen.woff')) format('woff'),
        url(font-path('bethgilomen.svg#bethgilomen')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url(font-path('cooperhewitt-light-webfont.eot'));
    src: url(font-path('cooperhewitt-light-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('cooperhewitt-light-webfont.woff2')) format('woff2'),
         url(font-path('cooperhewitt-light-webfont.woff')) format('woff'),
         url(font-path('cooperhewitt-light-webfont.ttf')) format('truetype'),
         url(font-path('cooperhewitt-light-webfont.svg#cooper_hewittlight')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittbold';
    src: url(font-path('cooperhewitt-bold-webfont.eot'));
    src: url(font-path('cooperhewitt-bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('cooperhewitt-bold-webfont.woff2')) format('woff2'),
         url(font-path('cooperhewitt-bold-webfont.woff')) format('woff'),
         url(font-path('cooperhewitt-bold-webfont.ttf')) format('truetype'),
         url(font-path('cooperhewitt-bold-webfont.svg#cooper_hewittbold')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittbook';
    src: url(font-path('cooperhewitt-book-webfont.eot'));
    src: url(font-path('cooperhewitt-book-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('cooperhewitt-book-webfont.woff2')) format('woff2'),
         url(font-path('cooperhewitt-book-webfont.woff')) format('woff'),
         url(font-path('cooperhewitt-book-webfont.ttf')) format('truetype'),
         url(font-path('cooperhewitt-book-webfont.svg#cooper_hewittbook')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittmedium';
    src: url(font-path('cooperhewitt-medium-webfont.eot'));
    src: url(font-path('cooperhewitt-medium-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('cooperhewitt-medium-webfont.woff2')) format('woff2'),
         url(font-path('cooperhewitt-medium-webfont.woff')) format('woff'),
         url(font-path('cooperhewitt-medium-webfont.ttf')) format('truetype'),
         url(font-path('cooperhewitt-medium-webfont.svg#cooper_hewittmedium')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url(font-path('cooperhewitt-semibold-webfont.eot'));
    src: url(font-path('cooperhewitt-semibold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('cooperhewitt-semibold-webfont.woff2')) format('woff2'),
         url(font-path('cooperhewitt-semibold-webfont.woff')) format('woff'),
         url(font-path('cooperhewitt-semibold-webfont.ttf')) format('truetype'),
         url(font-path('cooperhewitt-semibold-webfont.svg#cooper_hewittsemibold')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'limerick-xlightregular';
    src: url(font-path('limerick-xlight-webfont.eot'));
    src: url(font-path('limerick-xlight-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('limerick-xlight-webfont.woff2')) format('woff2'),
         url(font-path('limerick-xlight-webfont.woff')) format('woff'),
         url(font-path('limerick-xlight-webfont.ttf')) format('truetype'),
         url(font-path('limerick-xlight-webfont.svg#limerick-xlightregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caviar_dreamsbold';
    src: url(font-path('caviar_dreams_bold-webfont.eot'));
    src: url(font-path('caviar_dreams_bold-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('caviar_dreams_bold-webfont.woff2')) format('woff2'),
         url(font-path('caviar_dreams_bold-webfont.woff')) format('woff'),
         url(font-path('caviar_dreams_bold-webfont.ttf')) format('truetype'),
         url(font-path('caviar_dreams_bold-webfont.svg#caviar_dreamsbold')) format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url(font-path('caviardreams_italic-webfont.eot'));
    src: url(font-path('caviardreams_italic-webfont.eot?#iefix')) format('embedded-opentype'),
         url(font-path('caviardreams_italic-webfont.woff2')) format('woff2'),
         url(font-path('caviardreams_italic-webfont.woff')) format('woff'),
         url(font-path('caviardreams_italic-webfont.ttf')) format('truetype'),
         url(font-path('caviardreams_italic-webfont.svg#caviar_dreamsitalic')) format('svg');
    font-weight: normal;
    font-style: normal;

}
